:root {
  --c-calendar-white: white;

  --c-calendar-date-cell-light: #f1f4fa;
  --c-calendar-date-cell-dark: #1a202c;
  --c-calendar-date-cell-background-dark: #364153;
  --c-calendar-header-light: #1f2d51;
  --c-calendar-current-date-color-light: #e60072;
  --c-calendar-current-date-color-dark: #ff85c3;
  --c-calendar-off-range-light: #70767b;
  --c-calendar-off-range-dark: #a8aeab;
  --c-calendar-show-more-light: #3a36db;
  --c-calendar-show-more-dark: #d2d1ff;
  --c-calender-row-border: #ffffff0d;

  --c-scrollbar-track: #424242;
  --c-scrollbar-thumb: #686868;
  --c-scrollbar-thumb-hover: #676767;
}
