.rbc-day-bg {
  background-color: light-dark(
    var(--c-calendar-white),
    var(--c-calendar-date-cell-background-dark)
  );
}

.rbc-day-bg + .rbc-day-bg {
  border: 0.5px solid
    light-dark(
      var(--c-calendar-date-cell-light),
      var(--c-calendar-date-cell-dark)
    );
}

.rbc-off-range {
  color: light-dark(
    var(--c-calendar-off-range-light),
    var(--c-calendar-off-range-dark)
  );
}

.rbc-date-cell {
  align-items: center;
  text-align: center;
  height: 100%;
  border-right: 1px solid
    light-dark(
      var(--c-calendar-date-cell-light),
      var(--c-calendar-date-cell-dark)
    );
  background-color: light-dark(
    var(--c-calendar-white),
    var(--c-calendar-date-cell-background-dark)
  );
}

.rbc-button-link {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
}

.rbc-date-cell {
  font-size: 25.63px;
}

.rbc-row-content {
  height: 100%;
}

.rbc-allday-cell {
  display: none;
}

.rbc-header {
  border-bottom: none;
}

.rbc-month-row .rbc-row-content .rbc-date-cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.rbc-month-view {
  border: none;
  min-height: 100%;
}

.rbc-row:not(.rbc-month-header) {
  flex: auto;
}

.rbc-row-content {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}

.rbc-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: light-dark(var(--c-calendar-header-light), var(--c-calendar-white));
  white-space: pre-line;
  text-align: center;
}

.rbc-header + .rbc-header {
  border-left: none;
}

.rbc-header span {
  opacity: 70%;
}

.rbc-month-row {
  height: 132px;
}

.rbc-month-row + .rbc-month-row {
  border-top: 1px solid
    light-dark(
      var(--c-calendar-date-cell-light),
      var(--c-calendar-date-cell-dark)
    );
}

.rbc-time-view {
  border: none;
}

.rbc-date-cell.rbc-now {
  color: var(--c-calendar-current-date-color-dark);
  font-size: 25.63px;
}

.rbc-date-cell.rbc-now.rbc-current {
  border-top: 2px solid
    light-dark(
      var(--c-calendar-current-date-color-light),
      var(--c-calendar-current-date-color-dark)
    );
  color: light-dark(
    var(--c-calendar-current-date-color-light),
    var(--c-calendar-current-date-color-dark)
  );
}

.rbc-time-column {
  background-color: light-dark(
    var(--c-calendar-white),
    var(--c-calendar-date-cell-background-dark)
  );
}

.rbc-timeslot-group {
  border-bottom: none;
  font-size: 10px;
  text-align: left;
}

.rbc-time-gutter {
  width: 74px;
  padding-left: 15px;
}

.rbc-day-slot .rbc-time-slot {
  border-top: none;
}

.rbc-day-slot .rbc-timeslot-group {
  border-top: none;
  border-bottom: 1px solid
    light-dark(var(--c-calendar-date-cell-light), var(--c-calender-row-border));
}

.rbc-time-content > .rbc-time-gutter {
  background-color: light-dark(
    var(--c-calendar-white),
    var(--c-calendar-date-cell-dark)
  );
}

.rbc-time-content {
  border-top: none;
  background-color: white;
}

.rbc-time-slot {
  justify-content: flex-end;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.rbc-event-content {
  font-size: 10px;
  line-height: 13.02px;
  font-weight: 400;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.rbc-event {
  width: auto;
  background-color: light-dark(
    var(--c-calendar-current-date-color-light),
    var(--c-calendar-current-date-color-dark)
  );
  color: light-dark(white, black);
}

.rbc-event.rbc-selected {
  color: white;
}

.rbc-event-label {
  width: 100% !important;
}

.rbc-header.rbc-today {
  background-color: transparent;
  background-color: #a5a3ff;
  opacity: 1;
  transition: background-color 0.3s;
}

.rbc-header.rbc-today:hover {
  background-color: #605cff;
  opacity: 1;
}

.rbc-time-header-cell .rbc-header:not(.rbc-today) {
  background-color: transparent;
  opacity: 1;
  transition: background-color 0.3s;
}

.rbc-time-header-cell .rbc-header:not(.rbc-today):hover {
  background-color: #dddde0;
  opacity: 1;
}

.rbc-row-segment {
  padding-left: 8px;
  padding-right: 8px;
}

.rbc-time-header-content {
  border: none;
}

.rbc-time-header.rbc-overflowing {
  border: none;
}

.rbc-button-link.rbc-show-more {
  background-color: transparent;
  border: 1px solid #dcd4f7;
  border-radius: 5px;
  color: light-dark(
    var(--c-calendar-show-more-light),
    var(--c-calendar-show-more-dark)
  );
  padding: 6.5px 12px;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  width: 100%;
}

.rbc-button-link.rbc-show-more:hover {
  background-color: #f0f0ff;
  color: var(--c-calendar-show-more-light);
}

.rbc-time-view .rbc-time-header {
  margin-bottom: 1.25rem;
}

.rbc-month-view .rbc-row.rbc-month-header {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 768px) {
  .rbc-month-view {
    min-height: 0;
  }
}

@media screen and (min-width: 992px) {
  .rbc-month-view {
    min-height: 0;
  }
}

@media screen and (min-width: 1200px) {
  .rbc-month-view {
    min-height: 0;
  }
}

.rbc-day-slot .rbc-event {
  margin-left: 5px;
}
